    $mainFont: #F16D7F;

    *{
    margin: 0;
    padding: 0;
    }
    a{
        text-decoration: none;
    }
    body{
        font-family: Lato;
        width: 1920px;
        margin:0px;
        padding:0px;
    
    }
    .display{
        padding-left: calc(50% - 570px);
        padding-right: calc(50% - 570px);
    } 
    
    .header{
        width: 1600px;
        height: 75px;
        background-color: #080808;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row; 
    }
    .leftSigns{
        width: 111px;
        height: 38px;
        top: 18px;
        left: 231px;
        padding: 0px, 0px, 0px, 0px;
        
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 400px
    }
    .rightSigns{
        width: 159px;
        height: 29px;
        top: 26px;
        left: 1201px;
        padding: 0px, 0px, 0px, 0px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 1600px;
        height: 764px;
        background-color: #F1E4E6; 
        display: flex;
    
    }
    .logo2{
        width: 405px;
        height: 93.1px;
        top: 364.9px;
        left: 864px;
        margin-top: 275px; 
        
        display: flex;
        flex-wrap: wrap;
    }
    .text{
        width: 405px;
        height: 93px;
        top: 365px;
        left: 892px;
        display: flex;
        white-space: pre;
    
    }
    
    
    .content1{
        width: 1600px;
        height: 520px;
        display: flex;
        justify-content: center;
    }
    .genderDif{
        display: grid;
        grid-template-columns: 363px 363px 363px;
        gap: 25px;
        width: 736px;
        justify-content: center;
        padding-top: 45px;
    
        
    }
    .item{
        min-height: 260px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: pre;
    }
    .item4{
        grid-column: 1 / 4 ;
        margin-top: -30px;
        right: -388px;
    }
    .contentText{
        position: absolute;
        display: flex;
        flex-direction:column;
    }
    .img1{
        width: 360px;
        height: 268px;
    }
    .cells{
        display: grid;
        grid-template-columns: 360px 360px 360px;
        gap: 25px;
        width: 1140px;
        justify-content: center;
        padding-top: 60px;
    }
    .block{
        min-height: 581px;
        background-color: #F8F8F8;
    }
    
    
    .button:hover{
        background-color: rgb(250, 233, 236);
    }
    
    
    .content2{
    width: 1600px;
    height: 1400px;
    margin-top: 60px; 
    }
    .writing1{
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
    
    }
    .writing2{
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #9F9F9F;
    }
    .buttons{
        display: flex;
        justify-content: center;
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .button{
        font-size: 18px;
        line-height: 18px;
        background-color: #fff;
        border: 1px solid #F16D7F;
        width: 212px;
        height: 50px;
        top: 16px;
        left: -585px;
        color: #F26376;
    }
    .title{
        font-size: 17px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
        padding: 15px;
    }
    .about{
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #5D5D5D;
        padding: 15px;
    }
    .price{
        font-size: 18px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #F16D7F;
        padding: 15px;
    }
    .redLogoFont{
        font-size: 37px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        color: #F16D7F;
    }
    .mainLogoFont{
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        color: #222222;
    }
    .secLogoFont{
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: #222222;
    }
    .contentWhiteFont{
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFF;
    
        
    }
    .contentRedFont{
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        color: #F16D7F;
    }
    
    
    .content3{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 360px 360px 360px;
        gap: 30px;
    
        width: 1600px;
        height: 341px;
        background-color: #222224;
        margin-top: 187px
    }
    .content3item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        height: 134px;
        gap: 10px;
        color: white;
    }
    .cnt3maintext{
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .cnt3sectext{
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        
    }
    
    
    .content4{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 224px;
    
        width: 1600px;
        height: 448px;
        top: 3301px;
    
        background-image: url(../sem1_5_6_7_8_hw/img/content4_bckgrnd.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .content4left{
        width: 359.45px;
        height: 225px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        
    }
    .content4lefttext{
        width: 359.45px;
        height: 99px;
    
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    }
    .content4right{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    
        width: 557px;
        height: 142px;
        
    }
    form{
        display: flex;
        flex-direction: row;
        padding-top: 25px;
    }
    input{
        display: inline-block;
        box-sizing: border-box;
    }
    input[type="email"]{
        background-color: #E1E1E1;
        width: 256px;
        height: 49px;
        border: none;
        outline: none;
        padding: 0 25px;
        border-radius: 25px 0 0 25px;
    }
    input[type="submit"]{
        background-color: #F16D7F;
        border-radius: 0 25px 25px 0;
        width: 100px;
        height: 49px;
        border: none;
        outline: none;
        left: 20px;
        color: #FFFFFF;
        font-size: 14px;
    
    }
    input[type="submit"]:hover{
        background-color: #222224;
    
    }
    .content4logotext{
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
    }
    .content4addtext{
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
    }
    
    
    .footer{
        width: 1600px;
        height: 79px;
        gap: 655px;
        background-color: #222224;
    
        display: flex;
        align-items: center;
        justify-content: center;

        .footerleft{
            width: 332px;
            height: 19px;
            color: white;
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        
        }
        .footerright{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            
            width: 147.66px;
            height: 32px;
        }
        .footerlogo{
            display: flex;
            justify-content: center;
            align-items: center;
        
            width: 31.45px;
            height: 32px;
            background-color: white;
        }
        .footerlogo:hover{
            background-color: pink;
        }
    }

    











    .navigation{

        width: 1600px;
        height: 148px;
        top: 75px;  
        background-color: #F8F3F4;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 737px;


        &_left{
            width: 194px;
            height: 29px;
            top: 134px;
            left: 230px;

            .leftNav1{
                color: $mainFont;
                font-size: 24px;
                font-weight: 400;
                line-height: 29px;
                letter-spacing: 0em;
                text-align: left;

            }
        }

        &_right{
        width: 209px;
        height: 17px;
        top: 140px;
        left: 1161px;

        .rightNavText{
            font-family: Lato;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;



            color: #636363;
        }
        .rightNavText3{
            color: $mainFont;
            font-weight: 700;
        }
        }






    }
    .catalog_photo{
        background-color: #F7F7F7;
        width: 1600px;
        height: 777px;
        top: 223px;

        display: flex;
        justify-content: space-around;
        align-items: center;
        .catalog_photo{
            position: relative;
        }

    }
    .description{
        width: 1141px;
        height: 600px;
        margin-left: 600px;
        margin-top: -40px;
        border: 1px solid #000;
        background-color: #ffffff;
        position: absolute;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;


        

        .desc_text1{
            width: 147px;
            height: 17.14px;

            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: $mainFont;
        }
        .desc_img1{
            width: 63px;
            height: 3.03px;
            margin-top: -55px;
        }
        .desc_text2{
            width: 254px;
            height: 22.19px;
            margin-top: -34px;

            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: #4D4D4D;        
        }
        .desc_text3{
            width: 566px;
            height: 51.43px;
            margin-top: -20px;
            

            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: center;
            
            color: #5E5E5E;
        }
        .desc_text4{
            width: 56px;
            height: 29.25px;
            margin-top: -34px;

            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            color: #EF5B70;

        }
        .desc_img2{
            width: 642px;
            height: 1.01px;  
            margin-top: -36px;
        }
        .desc_text5{
            width: 373.02px;
            height: 17.14px;
            display: flex;
            justify-content: space-between;   
            
            color: #6F6E6E;

            .par1{
                display: flex;
                gap: 9px;
                width: 144.02px;
                height: 17.14px;
            }
            .par2{
                display: flex;
                gap: 9px;
                width: 123.02px;
                height: 17.14px;
            }
            .par3{
                display: flex;
                gap: 9px;
                width: 90.02px;
                height: 17.14px;
            }
            
        }
        .desc_button{
            width: 212px;
            height: 48.41px;
            background-color: red;
            margin-top: -15px;
        }
    }
    .content2_Catalog{
        width: 1140px;
        height: 581px;
        margin-left: 600px;
        margin-top: 628px;

        .cells{
            display: grid;
            grid-template-columns: 360px 360px 360px;
            gap: 25px;
            width: 1140px;
            justify-content: center;
            padding-top: 60px;
        }
        .block{
            min-height: 581px;
            background-color: #F8F8F8;
        }
    }
    .content4_catalog{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 224px;
    
        width: 1600px;
        height: 448px;
        top: 3301px;
    
        background-image: url(img/content4_bckgrnd.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 213px;
    }




    @media(max-width: 767px){
        *{
            margin: 0;
            padding: 0;
            }
        img{
            max-width: 100%;
            height: auto;
        }
        body{
            font-family: Lato;
            width: 767px;
            margin:0px;
            padding:0px;
        }
        .display{
            padding-left: calc(50% - 370px);
            padding-right: calc(50% - 370px);
        } 
    
    
    
    
        .header{
            width: 768px;
            height: 74px;
            background-color: #080808;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row; 
        }
        .leftSigns{
            width: 111px;
            height: 38px;
            top: 18px;
            left: 231px;
            padding: 0px, 0px, 0px, 0px;
            
        
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 400px
        }
        .rightSigns{
            width: 159px;
            height: 29px;
            top: 26px;
            left: 1201px;
            padding: 0px, 0px, 0px, 0px;
        
            display: flex;
            justify-content: space-between;
            margin-right: 15px;
        }
    
    
        .logo{
            width: 768px;
            height: 367px;
            background-color: #F1E4E6; 
    
            display: flex;
            align-items: center;
            justify-content: flex-start;
        
        }
        .logo1{
            width: 386px;
            height: 368px;
            top: 74px;
        }
        .logo2{
            width: 383px;
            height: 92px;
            top: 364.9px;
            left: 864px;
            
            
            display: flex;
            flex-wrap: wrap;
        }
        .text{
            width: 800px;
            height: 93px;
            top: 365px;
            left: 892px;
            display: flex;
            white-space: pre;
            margin-top: -140px;
        }
    
    
        .content1{
            width: 768px;
            height: 333px;
            display: flex;
            justify-content: flex-start;
            padding-top: 30px;
            display: flex;
            align-items: flex-start;
        }
        .genderDif{
            display: grid;
            grid-template-columns: 235.3px 235.3px 235.3px;
            gap: 15px;
            width: 736px;
            height: 303px;
            justify-content: center;
            padding-top: 45px;
            margin-top: -80px;
        }
        .item{
            height: 167px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: pre;
        }
        .item4{
            grid-column: 1 / 4 ;
            width: 736px;
            height: 300px;
    
            display: flex;
            justify-content: flex-end;
            flex-direction: column-reverse;
            margin-top: -47px;
            right: 0px;
        }
        .contentText{
            display: flex;
            position: absolute;
            margin-top: 30px;
        }
        .img1{
            width: 360px;
            height: 168px;
        }
        
    
        .content2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 768px;
        height: 2100px;
        margin-top: 60px; 
        }
        .finalView{
            width: 736px;
            display: grid;
            justify-content: end;
            align-content: center;
        }
        .writing1{
            display: flex;
            justify-content: center;
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: left;
        
        }
        .writing2{
            display: flex;
            justify-content: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: #9F9F9F;
        }
        .cells{
            display: grid;
            grid-template-columns: 360px 360px;
            gap: 25px;
            width: 1140px;
            justify-content: center;
            padding-top: 60px;
            margin-right: 30px;
        }
        .block{
            height: 582px;
            background-color: #F8F8F8;
        }
        .buttons{
            display: flex;
            justify-content: center;
            padding-top: 75px;
            padding-bottom: 75px;
        }
        .button{
            font-size: 18px;
            line-height: 18px;
            background-color: #fff;
            border: 1px solid #F16D7F;
            width: 212px;
            height: 50px;
            top: 16px;
            left: -585px;
            color: #F26376;
        }
        .title{
            font-size: 17px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
            padding: 10px;
            padding-top: 20px;
        }
        .about{
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: #5D5D5D;
            padding: 7px;
            padding-left: 10px
        }
        .price{
            font-size: 18px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #F16D7F;
            padding: 7px;
            padding-left: 10px
        }
        .redLogoFont{
            font-family: Lato;
            font-size: 37px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;
            color: #F16D7F;
        }
        .mainLogoFont{
            font-family: Lato;
            font-size: 38px;
            font-weight: 900;
            line-height: 46px;
            letter-spacing: 0em;
            text-align: left;
            color: #222222; 
        }
        .secLogoFont{
            font-family: Lato;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #222222;
        }
        .contentWhiteFont{
            font-family: Lato;
            font-size: 18px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFF;
        
            
        }
        .contentRedFont{
            font-family: Lato;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: center;
            color: #F16D7F;
        }
    
    
    
    
    
    
    
    
    
    .content3{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 360px;
        gap: 30px;
    
        width: 768px;
        height: 610px;
        background-color: #222224;
        margin-top: 20px
    }
    .content3item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        height: 134px;
        gap: 10px;
        color: white;
    }
    .cnt3maintext{
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .cnt3sectext{
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        
    }
    
    
    .content4{
        display: flex;
        flex-direction: column;
        gap: 120px;
    
        width: 768px;
        height: 693px;
        top: 3301px;
    
        background-image: url(../sem1_5_6_7_8_hw/img/content4_bckgrnd.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    
    }
    .content4left{
        width: 359.45px;
        height: 225px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        
    }
    .content4lefttext{
        width: 359.45px;
        height: 99px;
    
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    }
    .content4right{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    
        width: 557px;
        height: 142px;
        
    }
    form{
        display: flex;
        flex-direction: row;
        padding-top: 25px;
    }
    input{
        display: inline-block;
        box-sizing: border-box;
    }
    input[type="email"]{
        background-color: #E1E1E1;
        width: 256px;
        height: 49px;
        border: none;
        outline: none;
        padding: 0 25px;
        border-radius: 25px 0 0 25px;
    }
    input[type="submit"]{
        background-color: #F16D7F;
        border-radius: 0 25px 25px 0;
        width: 100px;
        height: 49px;
        border: none;
        outline: none;
        left: 20px;
        color: #FFFFFF;
        font-size: 14px;
    
    }
    .content4logotext{
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
    }
    .content4addtext{
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
    }
    
    
    .footer{
        width: 768px;
        height: 79px;
        gap: 305px;
        background-color: #222224;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footerleft{
        width: 251px;
        height: 19px;
        color: white;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        
    
    }
    .footerright{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        
        width: 147.66px;
        height: 32px;
    }
    .footerlogo{
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 31.45px;
        height: 32px;
        background-color: white;
    }
    .footerlogo:hover{
        background-color: pink;
    }
    
    }
    
    
    
    @media(max-width: 375px){
        *{
            margin: 0;
            padding: 0;
        }
        img{
            max-width: 100%;
            height: auto;
        }
        body{
            font-family: Lato;
            width: 375px;
            margin:0px;
            padding:0px;
        }
        .display{
            padding-left: calc(50% - 180px);
            padding-right: calc(50% - 180px);
        } 
    
    
    
    
    
        .header{
            width: 375px;
            height: 74px;
            background-color: #080808;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row; 
        }
        .leftSigns{
            width: 111px;
            height: 38px;
            top: 18px;
            
        
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 1px;
            margin-left: 16px;
        }
        .rightSigns{
            width: 32px;
            height: 23px;
            top: 26px;
            left: 1201px;
        
            display: flex;
            justify-content: space-between;
            margin-right: 16px;
        }
        .headerImage4{
            display: none;
        }
        .headerImage5{
            display: none;
        }
        
    
    
        .logo{
            width: 375px;
            height: 363px;
        }
        .logo1{
            display: none;
        }
        .text{
        width: 303px;
        height: 86px;
        display: flex;
        justify-content: space-between;
        }
        .logo2{
        display: flex;
        align-items: stretch;
        justify-content: center;
        }
        .logoImg{
            display: flex;
            width: 11px;
        }
    
    
        .content1{
            width: 375px;
            height: 1050px;
        }
        .genderDif{
            display: grid;
            grid-template-columns: 360px;
            width: 360px;
            justify-content: center;
            gap: 32px;
            margin-top: -20px;
        }
        .item{
            grid-template-columns: 95%;
        }
        .item4{
            grid-area: auto;
            margin-left: -188px;
            margin-top: 12px;
            
        }
        .img1{
            position: relative;
            width: 340px;
            height: 247px;
        }
        .img2{
            width: 340px;
            height: 111px;
        }
    
    
    
    
    
    
        .content2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 375px;
        height: 2100px;
        margin-top: 60px; 
        }
        .finalView{
            width: 360px;
            display: grid;
            justify-content: end;
            align-content: center;
        }
        .writing1{
            display: flex;
            justify-content: center;
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: left;
        
        }
        .writing2{
            display: flex;
            justify-content: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: #9F9F9F;
        }
        .cells{
            display: grid;
            grid-template-columns: 360px;
            gap: 25px;
            width: 360px;
            justify-content: center;
            padding-top: 60px;
            margin-left: 27px;
        }
        .block{
            height: 582px;
            background-color: #F8F8F8;
        }
        .buttons{
            display: flex;
            justify-content: center;
            padding-top: 75px;
            padding-bottom: 75px;
        }
        .button{
            font-size: 18px;
            line-height: 18px;
            background-color: #fff;
            border: 1px solid #F16D7F;
            width: 212px;
            height: 50px;
            top: 16px;
            left: -585px;
            color: #F26376;
        }
        .title{
            font-size: 17px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
            padding: 10px;
            padding-top: 20px;
        }
        .about{
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: #5D5D5D;
            padding: 7px;
            padding-left: 10px
        }
        .price{
            font-size: 18px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #F16D7F;
            padding: 7px;
            padding-left: 10px
        }
    
    
    
    
        .redLogoFont{
            font-size: 24px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;
            color: #F16D7F;
        }
        .mainLogoFont{
        font-size: 44px;
        font-weight: 900;
        line-height: 53px;
        letter-spacing: 0em;
        text-align: left;
        color: #222222;    
        }
        .secLogoFont{
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            color: #222222;
        }
        .contentWhiteFont{
            font-family: Lato;
            font-size: 18px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFF;
        
            
        }
        .contentRedFont{
            font-family: Lato;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: center;
            color: #F16D7F;
        }
    
    
    
    
        .content3{
            width: 375px;
            height: 610px;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 347px;
        
    
            background-color: #222224;
            margin-top: 1844px;
        }
        .content3item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            height: 129px;
            gap: 10px;
            color: white;
        }
        .cnt3maintext{
            font-family: Lato;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }
        .cnt3sectext{
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: center;
            
        }
        
        
        
        
        
        
        .content4{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 64px;
        
            width: 375px;
            height: 550px;
            top: 3301px;
        
            background-image: url(../sem1_5_6_7_8_hw/img/content4_bckgrnd.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size:cover;
        
        }
        .content4left{
            width: 343px;
            height: 194px;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }
        .content4lefttext{
            width: 359.45px;
            height: 99px;
        
            font-family: Lato;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
        }
        .content4right{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
        
            width: 341px;
            height: 123px;
            
        }
        form{
            display: flex;
            flex-direction: row;
            padding-top: 25px;
        }
        input{
            display: inline-block;
            box-sizing: border-box;
        }
        input[type="email"]{
            background-color: #E1E1E1;
            width: 256px;
            height: 49px;
            border: none;
            outline: none;
            padding: 0 25px;
            border-radius: 25px 0 0 25px;
        }
        input[type="submit"]{
            background-color: #F16D7F;
            border-radius: 0 25px 25px 0;
            width: 100px;
            height: 49px;
            border: none;
            outline: none;
            left: 20px;
            color: #FFFFFF;
            font-size: 14px;
        
        }
        .content4logotext{
            font-family: Lato;
            font-size: 24px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: center;
        }
        .content4addtext{
            font-family: Lato;
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: center;
        }
        
        
        
        
        
        .footer{
            width: 375px;
            height: 143px;
            gap: 20px;
            background-color: #222224;
        
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            display: flex;
            justify-content: flex-start;
        }
        .footerleft{
            width: 251px;
            height: 19px;
            color: white;
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            padding-bottom: 15px;
        }
            
        
        
        .footerright{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            
            width: 147.66px;
            height: 32px;
        }
        .footerlogo{
            display: flex;
            justify-content: center;
            align-items: center;
        
            width: 31.45px;
            height: 32px;
            background-color: white;
        }
        .footerlogo:hover{
            background-color: pink;
        }
    }
    
    
    