*{
    padding: 0;
    margin: 0;
}



.header{
    width: 100wh;
    height: 300px;
    border: 1px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;

    &__logo{
        margin-left: 70px;
    }
}
.logo{
    background-color: darkred;
    color: white;
    width: 70px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 100wh;
    height: 500px;
    background-color: pink;

    display: flex;
    justify-content: center;
    gap: 32px;
    
    &_product{
        width: 200px;
        height: 250px;
        border: 1px solid #000;
        margin-top: 60px;

        &__name{
            text-align: center;
            font-size: 20px;
            margin: 16px;
            &_new{
                color: blue;
            }
        }
        .content__logo{
            margin: 16px auto;
        }
    }
}